/** Colors **/
$primary: #4555d2;
$secondary: #cc2973;
$white: #fff;
$black: #000;
$dark: #191e47;
$light: #f9fafe;
$body-color: #494c52;

$headings-color: $dark;

/** Units of Measure **/
//$container-width: example;

/** Fonts **/
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Roboto', sans-serif;

/** Bootstrap Components **/

//navbar
//$navbar-toggler-focus-width: 1rem !default;
$navbar-light-color: $primary !default;
$navbar-light-icon-color: $secondary !default;
$navbar-light-toggler-border-color: $primary !default;

//Spacers
$spacer: 1rem !default;
$spacers: (
	0: 0,
	1: $spacer * 0.25,
	2: $spacer * 0.5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3,
	6: $spacer * 6,
	7: $spacer * 9,
	8: $spacer * 12,
) !default;
