#main-header {
	.decoration-star {
		&-1 {
			top: 5rem;
			left: -12.5rem;
			width: 31.25rem;
			opacity: 0.7;
		}

		&-2 {
			top: 5rem;
			right: -12.5rem;
			width: 31.25rem;
			opacity: 0.7;
		}
	}
}
