/** X-Small devices (portrait phones, less than 576px) **/

// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(sm) {
	//Custom Styles HERE
}

// Medium devices (tablets, less than 992px)
@include media-breakpoint-down(md) {
	#main-navbar {
		.navbar-nav {
			//border: 2px solid $primary;
			background-color: $white;
			align-items: center;

			&:first-child {
				margin-top: 2rem !important;
				border-top: 1.5px solid $primary;
			}

			.nav-item {
				display: block;
				width: 100%;
				text-align: center;
				padding: 0.1rem 0;
				border-bottom: 1.5px solid $primary;
				transition: all 0.5s ease-in-out;

				&:hover {
					background-color: $primary;
					.nav-link {
						color: $white;
					}

					&:last-child {
						background-color: $white;
					}
				}

				&:nth-child(4) {
					border-bottom: none;
					margin-bottom: 0;
					padding: 0;
				}

				&:nth-child(5) {
					border-bottom: none;
					width: 100%;
					margin: 0 !important;
					padding-left: 0 !important;
					padding-right: 0 !important;

					.btn {
						margin: 0 !important;
					}
				}
			}
		}
	}

	// .navbar-clear-bg {
	// 	opacity: 1;
	// 	background-color: gray;
	// 	z-index: 4;
	// }

	#main-header {
		margin-top: 5rem !important;
		text-align: center;

		.text-container {
			margin-top: 1.5rem !important;
			padding-top: 1.5rem;
		}

		.decoration-star {
			&-1 {
				left: -6.25rem;
				width: 15.625rem;
			}

			&-2 {
				right: -6.25rem;
				width: 15.625rem;
			}
		}

		.img-container {
			margin-top: 1.875rem;
		}
	}

	.xl-text {
		font-size: 3.125rem;
	}
}

// Large devices (desktops, less than 1200px)
@include media-breakpoint-down(lg) {
	//Custom Styles HERE
}

// X-Large devices (large desktops, less than 1400px)
@include media-breakpoint-down(xl) {
	//Custom Styles HERE
}
